@model BankChangesViewModel
@{
    ViewData["Title"] = "Bank";
}

<form asp-action="Transactions" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-6">
            <input type="text" asp-for="@Model.Deposit" />
        </div>
        <div class="col-md-6">
            <input type="text" asp-for="@Model.Withdraw" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <input type="submit" class="btn btn-default" value="Aggiorna" />
        </div>
    </div>
</form>

@await Html.PartialAsync("Status", @Model.CurrenteActorState)